/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #0f0d13;
	font-family: 'Lato', sans-serif;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.card {
	display: flex;
	flex-flow: row nowrap;
	gap: 2rem;
	align-items: center;
	background-color: #d9cdf7;
	border-radius: 0.7rem;
	height: 500px;
	width: 875px;
	margin: auto;
}

.product_image {
    display: flex;
	position: relative;
    align-items: center;
    max-width: 450px;
	height: 224px;
}

.product_image img {
	width: 100%;
}

#view360 {
	position: absolute;
	top: 0;
	right: 50px;
	padding: 0.5rem;
	background: transparent;
	border: none;
	display: flex;
	transition: 100ms ease-in-out;
	cursor: pointer;
}

#view360:hover {
	background-color: rgba(0, 0, 0, 0.03);
	transition: 100ms ease-in-out;
}

#view360 img {
	height: 24px;
}

.product_info {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.product_description {
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: #271a45;
}

#productCode {
	font-weight: 300;
	font-size: 0.8rem;
	text-transform: uppercase;
}

#productName {
	font-family: 'Crimson Pro', serif;
	font-size: 2rem;
	font-weight: 600;
}

#productPrice {
	opacity: 0.67;
	font-size: 1rem;
	text-transform: uppercase;
}

.addToCart {
	border: 1px solid #271a45;
	background-color: transparent;
	text-transform: uppercase;
	border-radius: 10rem;
	padding: 1rem 2rem;
	transition: 100ms ease-in-out all;
	cursor: pointer;
}

.addToCart:hover {
	color: #fafafa;
	background-color: #271a45;
	transition: 100ms ease-in-out all;
}

@media screen and (max-width: 875px) {
	.card {
		padding: 2rem;
		flex-flow: column nowrap;
	}

	.product_info {
		width: 100%;
	}
}
