/* reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: #0f0d13;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	width: 100%;
	height: 100%;
}

.player_container {
	display: grid;
	gap: 2rem;
	grid-template-columns: min-content auto;
	height: 32rem;
	width: 100%;
	max-width: 680px;
	margin: auto;
}

.player_container_vertical {
	display: grid;
	gap: 2rem;
	grid-template-rows: auto min-content;
}

.player {
	background-color: #2a2141;
	border-radius: 0.5rem;
	padding: 2.2rem;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	justify-content: center;
	align-items: center;
}

.album_art {
	display: flex;
	width: 100%;
}

.player img {
	width: 100%;
}

.player_vertical {
	width: 17.5rem;
	height: 100%;
}

.player_horizontal {
	width: 100%;
}

.music_info {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
	color: #e1e1e6;
	width: 100%;
}

.music_info * {
	line-height: 1;
}

.music_name {
	font-size: 1.5rem;
	font-weight: 700;
}

.band_name {
	font-size: 1.2rem;
	font-weight: 400;
	opacity: 0.67;
}

.media_controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.media_control {
	display: flex;
	padding: 0.5rem 0.45rem 0.5rem 0.55rem;
	border-radius: 100%;
    border: none;
    background-color: transparent;
}

.media_control.play_Back {
	padding-left: 0.38rem;
	padding-right: 0.62rem;
}

.media_control.play_Forward {
	padding-left: 0.62rem;
	padding-right: 0.38rem;
}

.media_control:hover {
	cursor: pointer;
	background: hsl(0 0% 0% / 22%);
}

.music_timeline {
	display: flex;
	flex-direction: column;
	gap: 0.65rem;
	position: relative;
	width: 100%;
}

.progress_track {
	position: relative;
	width: 100%;
	height: 6px;
	overflow: hidden;
	border-radius: 0.5rem;
	background: hsl(0 0% 85% / 30%);
}

.progress_bar {
	position: absolute;
	background: hsl(0 0% 85% / 80%);
	border-radius: 0.5rem;
	height: 100%;
}

.track_time {
	display: flex;
	justify-content: space-between;
	font-size: 0.9rem;
	color: hsl(0 0% 77%);
	opacity: 0.7;
}

.player_horizontal .track_info {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1.52rem;
	width: 100%;
}

.player_horizontal .album_art {
	max-width: 5.6rem;
}

.player_horizontal .media_controls {
	justify-content: space-around;
	padding: 0 1rem;
}
